<div [class]="cards" [id]="player">
  <img [class]="playerCard" [id]="playerCard1" [src]="app/cards/backside.png">
  <img class="playerCard" id="playerCard2" [src]="cards/backside.png">
  <img class="playerCard" id="playerCard3" src="cards/backside.png">
  <img class="playerCard" id="playerCard4" src="cards/backside.png">
  <img class="playerCard" id="playerCard5" src="cards/backside.png">
  <img class="playerCard" id="playerCard6" src="cards/backside.png">
  <img class="playerCard" id="playerCard7" src="cards/backside.png">
  <img class="playerCard" id="playerCard8" src="cards/backside.png">
  <img class="playerCard" id="playerCard9" src="cards/backside.png">
  <img class="playerCard" id="playerCard10" src="cards/backside.png">
  <p>Player</p>
</div>
<div id="centerContainer">
  <img class="centerCard" id="centerCard" src="cards/backside.png">
</div>
<div class="cards" id="computer">
  <img class="computerCard" id="computerCard1" src="cards/backside.png">
  <img class="computerCard" id="computerCard2" src="cards/backside.png">
  <img class="computerCard" id="computerCard3" src="cards/backside.png">
  <img class="computerCard" id="computerCard4" src="cards/backside.png">
  <img class="computerCard" id="computerCard5" src="cards/backside.png">
  <img class="computerCard" id="computerCard6" src="cards/backside.png">
  <img class="computerCard" id="computerCard7" src="cards/backside.png">
  <img class="computerCard" id="computerCard8" src="cards/backside.png">
  <img class="computerCard" id="computerCard9" src="cards/backside.png">
  <img class="computerCard" id="computerCard10" src="cards/backside.png">
  <p>Computer</p>
</div>